<.header>
  購入品編集 <%= @purchase.id %>
</.header>

<.purchase_form
  changeset={@changeset}
  categories={@categories}
  action={~p"/purchase/#{@purchase}"}
/>

<.back navigate={~p"/purchase"}>購入品一覧へ戻る</.back>
