<.header>
  収入 <%= @income.id %>
  <:actions>
    <.link href={~p"/incomes/#{@income}/edit"}>
      <.button>編集</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="収入"><%= @income.money %></:item>
  <:item title="日付"><%= @income.date %></:item>
</.list>

<.back navigate={~p"/incomes"}>収入一覧に戻る</.back>
